In [6]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
import pickle

In [7]:
data = pd.read_csv("data/student-por.csv", sep=";")
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'fatherd', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [8]:
data = data[["G1", "G2", "G3", "goout", "absences"]]
data.head()

   G1  G2  G3  goout  absences
0   0  11  11      4         4
1   9  11  11      3         2
2  12  13  12      2         6
3  14  14  14      2         0
4  11  13  13      2         0

In [9]:
predict = "G3"
X = np.array(data.drop(predict, 1))
y = np.array(data[predict])

In [11]:
best = 0
linear = linear_model.LinearRegression()
for i in range(30):
    X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y, test_size=0.1)
    linear.fit(X_train, y_train)
    acc = linear.score(X_test, y_test)
    if acc > best:
        best = acc
        with open("porStudentModel.pickle", "wb") as f:
            pickle.dump(linear, f)

In [12]:
best

0.9286913325185162

In [13]:
linear.intercept_

-0.12482157858795695

In [14]:
linear.coef_

array([ 0.15508936,  0.89167367, -0.03316731,  0.02072411])