In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [2]:
data = pd.read_csv("data/student-mat.csv", sep=";")

In [3]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
data = data[["G1", "G2", "G3", "studytime", "failures", "absences"]]
#studytime: 1: <2 hours, 2: 2 to 5 hours, 3: 5 to 10 hours, or 4: >10 hours
#failures - number of past class failures (n if 1<=n<3, else 4)
#G1: First period grade(0-20), G2: Second period grade(0-20), G3: Final grade(0-20)

In [5]:
data.head()

   G1  G2  G3  studytime  failures  absences
0   5   6   6          2         0         6
1   5   5   6          2         0         4
2   7   8  10          2         3        10
3  15  14  15          3         0         2
4   6  10  10          2         0         4

In [6]:
predict = "G3"

In [7]:
X = np.array(data.drop(predict, 1))
y = np.array(data[predict])

In [8]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y, test_size=0.1)

In [9]:
linear = linear_model.LinearRegression()

In [10]:
linear.fit(X_train, y_train)

LinearRegression()

In [11]:
accuracy = linear.score(X_test, y_test)

In [12]:
accuracy

0.7147777682651666

In [13]:
linear.intercept_

-1.2423003374851778

In [14]:
linear.coef_

array([ 0.13661757,  0.98077155, -0.20155509, -0.24571677,  0.03700808])

In [15]:
predictions = linear.predict(X_test)

In [16]:
for i in range(20):
    print("Prediction (rounded):" + str(round(predictions[i])) + " Data: " + str(y_test[i]))

Prediction (rounded):8 Data: 8
Prediction (rounded):8 Data: 9
Prediction (rounded):8 Data: 8
Prediction (rounded):10 Data: 10
Prediction (rounded):4 Data: 0
Prediction (rounded):14 Data: 13
Prediction (rounded):8 Data: 11
Prediction (rounded):8 Data: 8
Prediction (rounded):9 Data: 10
Prediction (rounded):19 Data: 18
Prediction (rounded):7 Data: 6
Prediction (rounded):9 Data: 10
Prediction (rounded):10 Data: 12
Prediction (rounded):-1 Data: 0
Prediction (rounded):9 Data: 10
Prediction (rounded):15 Data: 15
Prediction (rounded):11 Data: 9
Prediction (rounded):9 Data: 0
Prediction (rounded):15 Data: 15
Prediction (rounded):12 Data: 11